* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open-sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  min-height: 100vh;
}
.form {
  width: 400px;
  background-color: white;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
  border-radius: 10px 0;
  padding: 10px 20px;
  margin: 0;
}
.form-heading {
  text-align: center;
  margin: 0;
  padding: 10px 5px;
}
.form-control {
  margin-bottom: 15px;
  padding-bottom: 20px;
  position: relative;
}
.form-control input {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  font-family: inherit;
  border-radius: 4px;
  margin-bottom: 4px;
  border: 1px solid #777777;
}
.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  color: red;
  font-size: 14px;
  visibility: hidden;
}

.form-control i {
  position: absolute;
  visibility: hidden;
  top: 15px;
  right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.form-control.error input {
  border: 2px solid red;
}
.form-control.error small {
  visibility: visible;
}
.form-control.error i.fa-exclamation-circle {
  visibility: visible;
  background-color: red;
}
.form-control.success input {
  border: 2px solid limegreen;
}
.form-control.error small {
  visibility: visible;
}
.form-control.success i.fa-check-circle {
  visibility: visible;
  background-color: limegreen;
}
.submit {
  background-color: purple;
  color: white;
  padding: 10px 5px;
  width: 100%;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: inherit;
  border-radius: 4px;
}
